::selection{
	background-color:#47c868;
}

a,a:link , a:visited{
	color:#47c868;
}

a:hover{
	color:#808080;
}

#page{
	background-color:white;
}

#back_top{
	background-color:#47c868;
	color:white;
}

#back_top i{
	color:white;
}


#header{
	background-color:#313848;
}

#body{
	
}


/* top bar */

#top-bar{
	background-color:#313848;
}


.top-social i{
	color:rgba(255,255,255,0.5);
}

.top-social:hover{
	background-color:#47c868;
}

.top-social:hover i{
	color:white;
}

#topbar-right{
	color:rgba(255,255,255,0.5);
}

/* header */
.site-logo{
	color:white;
}

.site-logo a{
	color:white;
}

.site-logo a:hover{
	color:white;
}

/* menu */
#toggle-menu-button{
	background-color:#3d465a;
}

#toggle-menu-button i{
	color:white;
}

#toggle-menu-button:hover{
	background-color:#47c868;
}

#toggle-menu-button:hover i{
	color:white;
}

#main-menu-toggle{
	background-color:#3d465a;
}

#main-menu-toggle a{
	color:white;
	
}


#main-menu-toggle a:hover{
	color:#47c868;
}

.main-menu ul li a{
	color:white;

}

.main-menu ul li a:hover{
	color:white;
	background-color:#3d465a;
}

.main-menu ul li.current-menu-item a,.main-menu ul li.current-menu-ancestor a{
	color:#47c868;
}

.main-menu ul li.current-menu-item a:hover,.main-menu ul li.current-menu-ancestor a:hover{
	color:#47c868;
}

/* sub menu */
.main-menu ul ul{
	background-color:#3d465a;
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

.main-menu ul ul ul{
	background-color:#3d465a;
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

.main-menu ul li li a, .main-menu ul li.current-menu-item li a, .main-menu ul li li.current-menu-item li a , .main-menu ul li.current-menu-ancestor li a ,.main-menu ul li li.current-menu-ancestor li a,.main-menu ul li li:last-child li a{
	color:white;
	background-color:#3d465a;
}

.main-menu ul li li.current-menu-item a ,.main-menu ul li li li.current-menu-item a , .main-menu ul li li.current-menu-ancestor a{ 
	color:#47c868;
	background-color:#3d465a;
}

.main-menu ul li li a:hover , .main-menu ul li.current-menu-item li a:hover ,.main-menu ul li li.current-menu-item li a:hover , .main-menu ul li.current-menu-ancestor li a:hover,.main-menu ul li li:last-child li a:hover{
	color:white;
	background-color:#47c868;
}

/* body */
.text-404{
	color:#313848;
}



/* page builder */
.white-bg{
	background-color:white;
}

.content-section-title{
	color:#333333;
}

.content-section-subtitle span{
	border-top:5px solid #e5e5e5;
}

.content-section-subtitle{
	color:#999999;
}

.section-widget-title{
	color:#333333;
}

.white-text .content-section-title{
	color:white;
}

.white-text .content-section-subtitle{
	color:rgba(255,255,255,0.8);
}

.white-text .content-section-subtitle span{
	border-top:5px solid rgba(255,255,255,0.2);
}

.white-text .section-widget-title  span{
	color:white;
}

.white-text .section-widget-title{
	color:white;
}



/* content box */


/* callout */

.callout-content{
	color:#333333;
}

a.callout-button.normal-button{
	background-color:#47c868;
	border:3px solid #47c868;
}

.white-text .callout-content{
	color:white;
}

.white-text a.callout-button.normal-button{
	background-color:white;
	border:3px solid white;
	color:#313848;
}
	
.white-text a.callout-button.normal-button:hover{
	background-color:transparent;
	border:3px solid rgba(255,255,255,0.5);
	color:white;
}

/* icon box */
.icon-style-border{
	color:#313848;
	border:3px solid #e5e5e5;
}

.icon-style-border:hover{
	color:white;
	border:3px solid #313848;
	background-color:#313848;
}

.icon-style-circle{
	color:#47c868;
	background-color:#313848;
}

.icon-style-circle:hover{
	color:#313848;
	background-color:#47c868;
}

.white-text .icon-style-border{
	color:white;
	border:3px solid rgba(255,255,255,0.2);
}

.white-text .icon-style-border:hover{
	color:#313848;
	border:3px solid white;
	background-color:white;
}

.white-text .icon-style-circle{
	color:white;
	background-color:rgba(0,0,0,0.2);
}

.white-text .icon-style-circle:hover{
	color:#313848;
	background-color:white;
}

.icon-type-image{
	border:0px !important;
	background:none !important;
}

.icon-style-icon{
	color:#313848;
	background:none;
	border:0px;
}

.icon-style-icon:hover{
	color:#47c868;
	background:none;
	border:0px;
}

.white-text .icon-style-icon{
	color:rgba(255,255,255,0.8)
}

.white-text .icon-style-icon:hover{
	color:white;
}

.icon-box-name{
	color:#333333;
}

.icon-box-content{
	color:#666666;
}

.white-text .icon-box-name{
	color:white;
}

.white-text .icon-box-content{
	color:rgba(255,255,255,0.8);
}

.white-text .icon-box-name{
	color:white;
}

.white-text .icon-box-link a{
	color:rgba(255,255,255,0.5);
}

.white-text .icon-box-link a:hover{
	color:white;
}

/* button block */
.button-block{
	background-color:#eff1f4;
}

.button-block-content{
	color:#808080;
}

.button-block-right a{
	background-color:#47c868;
	color:white;
}

.button-block-right a:hover{
	background-color:#333333;
	color:white;
}

/* quote block */
.quote-block{
	background-color:#f5f5f5;
}

.quote-block-image i{
	background-color:#313848;
	color:white;
}

.quote-block-content{
	color:#666666;
}

.quote-block-author{
	color:#313848;
}

.white-text .quote-block{
	background-color:rgba(0,0,0,0.1);
}

.white-text .quote-block-image i{
	background-color:white;
	color:#313848;
}

.white-text .quote-block-content{
	color:white;
}

.white-text .quote-block-author{
	color:rgba(255,255,255,0.8);
}

.white-text .no-wrap .quote-block{
	background-color:transparent;
}

/* people profile */
.team-heading{
	border-bottom:3px solid #e5e5e5;
}

.team-name{
	color:#47c868;
}

.team-subtitle{
	color:#808080;
}

.team-content{
	color:#666666;
}

.team-social{
	border-top:3px solid #e5e5e5;
}

.white-text .team-heading{
	border-bottom:3px solid rgba(255,255,255,0.2);
}

.white-text .team-name{
	color:white;
}

.white-text .team-subtitle{
	color:rgba(255,255,255,0.5);
}

.white-text .team-content{
	color:rgba(255,255,255,0.8);
}

.white-text .team-social{
	border-top:3px solid rgba(255,255,255,0.2);
}



/* tabs */
.tab-top{
	background-color:#313848;
}

.white-text .tab-top{
	background-color:white;
}

.tab-title{
	background-color:#313848;
	color:rgba(255,255,255,0.8);
}

.tab-title:hover{
	color:white;
}

.white-text .tab-title{
	background-color:white;
	color:#313848;
}

.white-text .tab-title:hover{
	background-color:#f2f2f2;
}

.tab-current,.tab-current:hover{
	color:white;
	background-color:#47c868;
}

.tab-bottom{
	background-color:#f2f2f2;
}

.white-text .tab-current,.white-text .tab-current:hover{
	color:white;
	background-color:#313848;
}

.white-text .tab-bottom{
	background-color:rgba(255,255,255,0.2);
}

/* tab vertical */
.tab-vertical-top{
	background-color:#313848;
}

.white-text .tab-vertical-top{
	background-color:white;
}

.tab-vertical-title{
	background-color:#313848;
	color:rgba(255,255,255,0.8);
}

.tab-vertical-title:hover{
	color:white;
}

.white-text .tab-vertical-title{
	background-color:white;
	color:#313848;
}

.white-text .tab-vertical-title:hover{
	background-color:#f2f2f2;
}

.tab-vertical-current,.tab-vertical-current:hover{
	color:white;
	background-color:#47c868;
}

.white-text .tab-vertical-current,.white-text .tab-vertical-current:hover{
	color:white;
	background-color:#313848;
}

.tab-vertical-bottom{
	background-color:#f2f2f2;
}

.white-text .tab-vertical-bottom{
	background-color:rgba(255,255,255,0.2);
}

/* accordion */
.accor-title{
	color:rgba(255,255,255,0.8);
	background-color:#313848;
}

.accor-title:hover{
	color:white;
}

.accor-title i{
	color:rgba(255,255,255,0.5);
}

.ui-state-active,.ui-state-active:hover{
	color:white;
}

.ui-state-active i{
	color:white;
}

.ui-accordion-content-active{
	color:#666666;
	background-color:#f2f2f2;
}

.accordion-style-highlight .accor-title{
	background-color:#47c868;
}

.white-text .accor-title{
	color:#313848;
	background-color:white;
}

.white-text .ui-accordion-content-active{
	color:white;
	background-color:rgba(255,255,255,0.2);
}

.white-text .accor-title i{
	color:#313848;
}

.white-text .accordion-style-highlight .accor-title i{
	color:#47c868;
}

.white-text .accordion-style-highlight .accor-title{
	color:#47c868;
}


/* testimonials */
.testimonials,.testimonials-slider{
	border:3px solid #e5e5e5;
}

.white-text .testimonials,
.white-text .testimonials-slider{
	border:3px solid rgba(255,255,255,0.2);
}

.testimonials-author{
	border-top:3px solid #e5e5e5;
}

.testimonials-author-name{
	color:#313848;
}

.testimonials-image i{
	background-color:#f2f2f2;
	color:#313848;
}

.testimonials-author-info.content{
	color:#cccccc;
}

.white-text .testimonials-author{
	border-top:3px solid rgba(255,255,255,0.2);
}

.white-text .testimonials-author-name{
	color:white;
}

.white-text .testimonials-image i{
	background-color:rgba(0,0,0,0.2);
	color:white;
}

.white-text .testimonials-author-info.content{
	color:rgba(255,255,255,0.2);
}

.testimonials-content{
	color:#666666;
}

.white-text .testimonials-content{
	color:white;
}

.testimonials-button-next,.testimonials-button-prev{
	background-color:#f2f2f2;
	color:#808080;
}

.testimonials-button-next:hover,.testimonials-button-prev:hover{
	background-color:#47c868;
	color:white;
}

.testimonials-button-next i,.testimonials-button-prev i{
	color:#808080;
}

.testimonials-button-next:hover i,.testimonials-button-prev:hover i{
	color:white;
}

.white-text .testimonials-button-next,
.white-text .testimonials-button-prev{
	background-color:rgba(0,0,0,0.2);
	color:white;
}

.white-text .testimonials-button-next:hover,
.white-text .testimonials-button-prev:hover{
	background-color:white;
	color:#313848;
}

.white-text .testimonials-button-next i,
.white-text .testimonials-button-prev i{
	color:white;
}

.white-text .testimonials-button-next:hover i,
.white-text .testimonials-button-prev:hover i{
	color:#313848;
}




/* logo */
.logo-container{
	border-left:3px solid #e5e5e5;
}

.white-text .logo-container{
	border-left:3px solid rgba(255,255,255,0.2);
}

.logo_column{
	border-right:3px solid #e5e5e5;
	border-top:3px solid #e5e5e5;
	border-bottom:0px;
}

.white-text .logo_column{
	border-right:3px solid rgba(255,255,255,0.2);
	border-top:3px solid rgba(255,255,255,0.2);
	border-bottom:0px;
}

.logo-column-bottom{
	border-bottom:3px solid #e5e5e5;
}

.white-text .logo-column-bottom{
	border-bottom:3px solid rgba(255,255,255,0.2);
}

.logo_name{
	background-color:#47c868;
}

/* gallery */
.gallery-image-bg{
	background-color:rgba(0,0,0,1);
}

.gallery-image-icon{
	background-color:#47c868;
	color:white;
}

.gallery-image-icon i{
	color:white;
}


.gallery-image-icon:hover i{
	color:rgb(255,255,255,0.5);
}

.gallery-thumb-bottom .gallery-thumb-border{
	background:transparent;
}

.gallery-thumb-bottom .gallery-thumb-border:hover{
	background:#47c868;
}

/* info box */
.info-box{
	color:white;
}

.info-box-remove{
	color:white;
	background-color:rgba(0,0,0,0.2);
}

.general-box{
	color:#666666;
	background-color:#f2f2f2;
}

.white-text .general-box{
	background-color:white;
}

.error-box{
	background-color:#F64747;
}

.alert-box{
	background-color:#F9BF3B;;
}

.success-box{
	background-color:#2ECC71;
}

.note-box{
	background-color:#19B5FE;
}

/* pricing table */
.pricing-col-content{
	border:3px solid #e5e5e5;
}

.white-text .pricing-col-content{
	border:3px solid rgba(255,255,255,0.5);
}

.white-text .highlight-plan .pricing-col-content{
	border:3px solid white;
}

.pricing-title{
	color:#333333;
	border-bottom:3px solid #e5e5e5;
}

.pricing-subtitle{
	color:#cccccc;
}

.white-text .pricing-title{
	color:white;
	border-bottom:3px solid rgba(255,255,255,0.5);
}

.white-text .pricing-subtitle,
.white-text .highlight-plan .pricing-subtitle{
	color:rgba(255,255,255,0.8);
}

.highlight-plan .pricing-title{
	color:#47c868;
	border-bottom:3px solid #e5e5e5;
}

.highlight-plan .pricing-subtitle{
	color:#47c868;
}

.white-text .highlight-plan .pricing-title{
	color:white;
	border-bottom:3px solid white;
}

.pricing-price{
	border-bottom:3px solid #e5e5e5;
}

.pricing-price-value{
	color:#666666;
}

.pricing-price-time{
	color:#cccccc;
}

.pricing-price-unit{
	color:#666666;
}

.white-text .pricing-price{
	border-bottom:3px solid rgba(255,255,255,0.5);
}


.white-text .pricing-price-value,
.white-text .highlight-plan .pricing-price-value{
	color:white;
}

.white-text .pricing-price-time,
.white-text .highlight-plan .pricing-price-time{
	color:rgba(255,255,255,0.8);
}

.white-text .pricing-price-unit,
.white-text .highlight-plan .pricing-price-unit{
	color:white;
}

.highlight-plan .pricing-price{
	border-bottom:3px solid #e5e5e5;
}

.highlight-plan .pricing-price-value{
	color:#47c868;
}

.highlight-plan .pricing-price-time{
	color:#47c868;
}

.highlight-plan .pricing-price-unit{
	color:#47c868;
}

.white-text .highlight-plan .pricing-price{
	border-bottom:3px solid white;
}

.pricing-detail{
	border-bottom:3px solid #e5e5e5;
}

.white-text .pricing-detail{
	border-bottom:3px solid rgba(255,255,255,0.5);
}

.highlight-plan .pricing-detail{
	border-bottom:3px solid #e5e5e5;
}


/* divider */
.divider{
	border-top:3px solid #e5e5e5;
}

.white-text .divider{
	border-top:3px solid rgba(255,255,255,0.5);
}

/* custom list */
.content ul.custom-list i{
	color:#666666;
}

.content ul.custom-list .li-circle i,
.content ul.custom-list .li-square i{
	background-color:#666666;
	color:white;
}

.white-text .content ul.custom-list i{
	color:white;
}

.white-text .content ul.custom-list .li-circle i,
.white-text .content ul.custom-list .li-square i{
	background-color:rgba(0,0,0,0.2);
	color:white;
}

/* blue */
.content ul.custom-list .li-blue i{
	color:#19B5FE;
}

.content ul.custom-list .li-circle.li-blue i,
.content ul.custom-list .li-square.li-blue i{
	background-color:#19B5FE;
	color:white;
}

/* red */
.content ul.custom-list .li-red i{
	color:#F64747;
}

.content ul.custom-list .li-circle.li-red i,
.content ul.custom-list .li-square.li-red i{
	background-color:#F64747;
	color:white;
}

/* green */
.content ul.custom-list .li-green i{
	color:#2ECC71;
}

.content ul.custom-list .li-circle.li-green i,
.content ul.custom-list .li-square.li-green i{
	background-color:#2ECC71;
	color:white;
}

/* yellow */
.content ul.custom-list .li-yellow i{
	color:#F9BF3B;
}

.content ul.custom-list .li-circle.li-yellow i,
.content ul.custom-list .li-square.li-yellow i{
	background-color:#F9BF3B;
	color:white;
}

/* pink */
.content ul.custom-list .li-pink i{
	color:#F62459;
}

.content ul.custom-list .li-circle.li-pink i,
.content ul.custom-list .li-square.li-pink i{
	background-color:#F62459;
	color:white;
}

/* aqua */
.content ul.custom-list .li-aqua i{
	color:#03C9A9;
}

.content ul.custom-list .li-circle.li-aqua i,
.content ul.custom-list .li-square.li-aqua i{
	background-color:#03C9A9;
	color:white;
}

/* orange */
.content ul.custom-list .li-orange i{
	color:#F27935;
}

.content ul.custom-list .li-circle.li-orange i,
.content ul.custom-list .li-square.li-orange i{
	background-color:#F27935;
	color:white;
}
	
/* contact form */
.contact-name-field div,.contact-email-field div,.contact-subject-field div,.contact-textarea div{
	color:#666666;
}

.white-text .contact-name-field div,
.white-text .contact-email-field div,
.white-text .contact-subject-field div,
.white-text .contact-textarea div{
	color:rgba(255,255,255,0.5);
}


/* milestones */

.milestone-icon i{
	color:white;
	background-color:#47c868;
}

.milestone-number{
	color:#313848;
}

.milestone-name{
	color:#cccccc;
}

.white-text .milestone-icon i{
	color:#313848;
	background-color:white;
}

.white-text .milestone-number{
	color:white;
}

.white-text .milestone-name{
	color:rgba(255,255,255,0.5)
}
/* typography */


.content h1,.content h2,.content h3,.content h4,.content h5,.content h6{
	color:#333333;
}

.content{
	color:#666666;
}

.white-text .content h1,
.white-text .content h2,
.white-text .content h3,
.white-text .content h4,
.white-text .content h5,
.white-text .content h6{
	color:white;
}

.white-text .content{
	color:white;
}

pre{
	border:3px solid #313848;
	background-color:#f2f2f2;
	color:#666666;
	margin-bottom:12px;
}

.white-text pre{
	border:3px solid rgba(0,0,0,0.5);
	background-color:transparent;
	color:white;
}

blockquote{
	color:white;
	background-color:#47c868;
	border-left:3px solid #313848;
}

.white-text blockquote{
	color:#313848;
	background-color:white;
	border-left:3px solid #313848;
}

.content  li a{
	color:#47c868;
}

.content  li a:hover{
	color:#808080;
}

.white-text .content  li a,.white-text .content a{
	color:white;
}

.white-text .content  li a:hover,.white-text .content  a:hover{
	color:rgba(0,0,0,0.5);
}


.social-icon{
	background-color:#f2f2f2;
	color:#313848;
}

.social-icon i{
	color:#313848;
}

.social-icon:hover{
	background-color:#47c868;
}

.social-icon:hover i{
	color:white;
}

.footer-widget .social-icon{
	background-color:rgba(0,0,0,0.2);
}

.footer-widget .social-icon i{
	color:white;
}

.white-text .social-icon{
	background-color:rgba(0,0,0,0.2);
	color:white;
}

.white-text .social-icon i{
	color:white;
}

.social-bitbucket:hover{
	background-color:#205081;
}

.social-dropbox:hover{
	background-color:#007ee5;
}

.social-dribbble:hover{
	background-color:#ea4c89;
}

.social-gittip:hover{
	color:#339966;
}

.social-facebook:hover{
	background-color:#3b5998;
}

.social-flickr:hover{
	background-color:#ff0084;
}

.social-foursquare:hover{
	background-color:#0cbadf;
}

.social-github:hover{
	background-color:#171515;
}

.social-google-plus:hover{
	background-color:#dd4b39;
}

.social-instagram:hover{
	background-color:#3f729b;
}

.social-linkedin:hover{
	background-color:#0e76a8;
}

.social-pinterest:hover{
	background-color:#c8232c;
}

.social-skype:hover{
	background-color:#00aff0;
}

.social-stack-exchange:hover{
	background-color:#3a6da6;
}

.social-stack-overflow:hover{
	background-color:#ef8236;
}

.social-trello:hover{
	background-color:#256a92;
}

.social-tumblr:hover{
	background-color:#34526f;
}

.social-twitter:hover{
	background-color:#55acee;
}

.social-vimeo-square:hover{
	background-color:#44bbff;
}

.social-vk:hover{
	background-color:#45668e;
}

.social-weibo:hover{
	background-color:#eb182c;
}

.social-xing:hover{
	background-color:#126567;
}

.social-youtube:hover{
	background-color:#c4302b;
}


/* table */
#wp-calendar caption{
	color:white;
	border:3px solid #313848;
	border-bottom:0px;
	background-color:#313848;
	font-weight:bold;
	font-weight: 700;
	text-transform:uppercase;
}

.content  #wp-calendar table{
	color:#333333;
	border:3px solid #cccccc;
}

.content  #wp-calendar thead td , .content #wp-calendar thead th, .content #wp-calendar  tfoot td{
	color:#808080;
	border:2px solid #cccccc;
	font-weight:bold;
	font-weight: 700;
	text-transform:uppercase;
}

.content #wp-calendar tbody td{
	color:#999999;
	border:2px solid #cccccc;
}

/* default inputs */
.content input[type=text],.content input[type=password],.contact-form input[type=text],.content input[type=email]{
	border:3px solid #e5e5e5; 
	color:#808080;
	background-color:transparent;
}

.content textarea,.contact-form textarea{
	border:3px solid #e5e5e5; 
	color:#808080;
	background-color:transparent;
}

.content select{
	border:3px solid #e5e5e5; 
	color:#808080;
	background-color:transparent;
}

.white-text .content input[type=text],
.white-text .content input[type=password],
.white-text .contact-form input[type=text],
.white-text .content input[type=email]{
	border:3px solid rgba(255,255,255,0.8); 
	color:white;
	background-color:transparent;
}

.white-text .content textarea,
.white-text .contact-form textarea{
	border:3px solid rgba(255,255,255,0.8); 
	color:white;
	background-color:transparent;
}

.white-text .content select{
	border:3px solid rgba(255,255,255,0.8); 
	color:white;
	background-color:transparent;
}


/* button */
.content input[type=submit],
.content button,
.content .normal-button,
.content a.normal-button,
.normal-button,
a.normal-button{
	color:white;
	border:3px solid #313848;
	background-color:#313848;
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

.small-button,
a.small-button,
.big-button,
a.big-button{
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

.content input[type=submit]:hover,
.content button:hover,
.content .normal-button:hover,
.content a.normal-button:hover,
.normal-button:hover,
a.normal-button:hover{
	color:#313848;
	border:3px solid #313848;
	background-color:white;
}

.white-text .content input[type=submit],
.white-text .content button{
	color:#313848;
	border:3px solid white;
	background-color:white;
}

.white-text .content input[type=submit]:hover,
.white-text .content button:hover{
	color:white;
	border:3px solid white;
	background-color:transparent;
}

.content a.white-button{
	color:#313848;
	border:3px solid #f2f2f2;
	background-color:#f2f2f2;
}

.content a.white-button:hover{
	color:#313848;
	border:3px solid #313848;
	background-color:white;
}

.content a.blue-button{
	color:white;
	border:3px solid #19B5FE;
	background-color:#19B5FE;
}

.content a.blue-button:hover{
	color:#19B5FE;
	border:3px solid #19B5FE;
	background-color:white;
}

.content a.red-button{
	color:white;
	border:3px solid #F64747;
	background-color:#F64747;
}

.content a.red-button:hover{
	color:#F64747;
	border:3px solid #F64747;
	background-color:white;
}

.content a.green-button{
	color:white;
	border:3px solid #2ECC71;
	background-color:#2ECC71;
}

.content a.green-button:hover{
	color:#2ECC71;
	border:3px solid #2ECC71;
	background-color:white;
}

.content a.yellow-button{
	color:white;
	border:3px solid #F9BF3B;
	background-color:#F9BF3B;
}

.content a.yellow-button:hover{
	color:#F9BF3B;
	border:3px solid #F9BF3B;
	background-color:white;
}

.content a.pink-button{
	color:white;
	border:3px solid #F62459;
	background-color:#F62459;
}

.content a.pink-button:hover{
	color:#F62459;
	border:3px solid #F62459;
	background-color:white;
}

.content a.aqua-button{
	color:white;
	border:3px solid #03C9A9;
	background-color:#03C9A9;
}

.content a.aqua-button:hover{
	color:#03C9A9;
	border:3px solid #03C9A9;
	background-color:white;
}

.content a.orange-button{
	color:white;
	border:3px solid #F27935;
	background-color:#F27935;
}

.content a.orange-button:hover{
	color:#F27935;
	border:3px solid #F27935;
	background-color:white;
}


.sidebar-widget a.sidebar-button{
	background-color:#47c868;
	color:white;
}

.sidebar-widget a.sidebar-button:hover{
	color:rgba(255,255,255,0.5);
}

.footer-button{
	background-color:#47c868;
	color:white;
}

/* inner page */
.top-search-form{
	
}

.have-search-result{
	border-bottom:3px solid #e5e5e5;
}

#empty-heading{
	background-color:#47c868;
}

#page-heading {
	background-color:#47c868;
}

h1#page-title{
	color:white;
}

h2#page-subtitle{
	color:rgba(255,255,255,0.8);
}

#breadcrumb{
	color:rgba(255,255,255,0.5);
}

#breadcrumb a{
	color:rgba(255,255,255,0.5);
}

#breadcrumb a:hover{
	color:rgba(255,255,255,1);
}

#breadcrumb span{
	color:rgba(255,255,255,0.5);
}

.paginate .current{
	color:white;
	border:3px solid #47c868;
	background-color:#47c868;
}

.paginate a{
	color:#666666;
	border:3px solid #e5e5e5;
}

.paginate a:hover{
	color:white;
	border:3px solid #313848;
	background-color:#313848;
}

.white-text .paginate .current{
	color:#313848;
	border:3px solid white;
	background-color:white;
}

.white-text .paginate a{
	color:rgba(255,255,255,0.5);
	border:3px solid rgba(255,255,255,0.2);
	background-color:transparent;
}

.white-text .paginate a:hover{
	color:rgba(255,255,255,1);
	border:3px solid rgba(255,255,255,0.5);
	background-color:transparent;
}


/* blog page */
.post-entry{
	border-bottom:3px solid #e5e5e5;
}

.post-entry-date{
	background-color:#47c868;
	color:white;
}

.post-entry-heading{
	
}

.post-entry-title a,.post-entry-title{
	color:#333333;
}

.post-entry-title a:hover{
	color:#47c868;
}

.post-entry-meta i{
	color:#666666;
}

.post-entry-meta span,.post-entry-meta span a{
	color:#bfbfbf;
}

.post-entry-meta span a:hover{
	color:#47c868;
}


.post-entry-content{
	color:#666666;
}


a.post-entry-button {
	background-color:#3d465a;
	color:white;
	border:3px solid #3d465a;
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

a.post-entry-button:hover{
	background-color:white;
	color:#3d465a;
	border:3px solid #3d465a;
}

.post-entry-tags a{
	border:3px solid #e5e5e5;
	color:#313848;
}

.post-entry-tags a:hover{
	border:3px solid #313848;
	color:white;
	background-color:#313848;
}

.like-button{
	border:3px solid #e5e5e5;
	border-right:0px;
}

.like-number{
	color:#313848;
}

.liked-button,.liked-button .like-number{
	color:#47c868;
}

.share-button{
	border:3px solid #e5e5e5;
	color:#313848;
}

.share-button:hover{
	color:#47c868;
}

.share-button-container{
	border:3px solid #e5e5e5;
	color:#313848;
	background-color:white;
}

a.social-share-icon{
	color:#313848;
	background-color:#e5e5e5;
}

a.social-share-icon:hover{
	color:white;
	background-color:#313848;
}

/* post cell */

.post-cell-title a{
	color:#333333;
}

.post-cell-title a:hover{
	color:#47c868;
}


.post-cell-meta i{
	color:#313848;
}

.post-cell-meta span,.post-cell-meta span a{
	color:#bfbfbf;
}

.post-cell-meta span a:hover{
	color:#47c868;
}

.white-text .post-cell-title a{
	color:white;
}

.white-text .post-cell-title a:hover{
	color:rgba(255,255,255,0.5);
}

.white-text .post-cell-meta i{
	color:rgba(255,255,255,0.8);
}

.white-text .post-cell-meta span,.post-cell-meta span a{
	color:rgba(255,255,255,0.5);
}

.white-text .post-cell-meta span a:hover{
	color:white;
}

/* view all */
.view-all-link a{
	background-color:#313848;
	color:white;
	border:3px solid #313848;
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

.view-all-link a:hover{
	background-color:#47c868;
	color:white;
	border:3px solid #47c868;
}

.white-text .view-all-link a{
	background-color:transparent;
	color:rgba(255,255,255,0.5);
	border:3px solid rgba(255,255,255,0.2)

}

.white-text .view-all-link a:hover{
	background-color:white;
	color:#313848;
	border:3px solid white;
}

/* post list */
.post-list-container{
	background-color:#f5f5f5;
}

.post-list-title a{
	color:#666666;
}

.post-list-title a:hover{
	color:#47c868;
}

.post-list-meta{
	color:#bfbfbf;
}

.post-list-meta i{
	color:#313848;
}

.post-list-meta a{
	color:#bfbfbf;
}

.post-list-meta a:hover{
	color:#47c868;
}

.white-text .post-list-container{
	background-color:rgba(0,0,0,0.1);
}

.white-text .post-list-title a{
	color:white;
}

.white-text .post-list-title a:hover{
	color:rgba(255,255,255,0.5);
}

.white-text .post-list-meta{
	color:rgba(255,255,255,0.5);
}

.white-text .post-list-meta i{
	color:rgba(255,255,255,0.8);
}

.white-text .post-list-meta a{
	color:rgba(255,255,255,0.5);
}

.white-text .post-list-meta a:hover{
	color:white;
}

/* post section */

.post-section-latest-title a{
	color:#333333;
}

.post-section-latest-title a:hover{
	color:#47c868;
}

.post-section-latest-meta i{
	color:#313848;
}

.post-section-latest-meta span,.post-section-latest-meta span a{
	color:#bfbfbf;
}

.post-section-latest-meta span a:hover{
	color:#47c868;
}

.post-section-latest-content{
	color:#666666;
}

.white-text .post-section-latest-title a{
	color:white;
}

.white-text .post-section-latest-title a:hover{
	color:rgba(255,255,255,0.5);
}

.white-text .post-section-latest-meta i{
	color:rgba(255,255,255,0.8);
}

.white-text .post-section-latest-meta span,
.white-text .post-section-latest-meta span a{
	color:rgba(255,255,255,0.5);
}

.white-text .post-section-latest-meta span a:hover{
	color:white;
}

.white-text .post-section-latest-content{
	color:white;
}

/* author bio */

.author-bio{
	background-color:#313848;
	color:white;
}

.author-bio-title{
	color:white;
}
	
.author-bio-description{
	color:rgba(255,255,255,0.8)
}

a.author-bio-url{
	color:white;
}

a.author-bio-url:hover{
	color:rgba(255,255,255,0.8)
}

/* post relative */

.post-relative-date{
	color:#808080;
}

a.post-relative-title{
	color:#333333;
}

a.post-relative-title:hover{
	color:#47c868;
}


.post-section-title,#reply-title{
	color:#333333;
}

.title-line,.title-line-center{
	background-color:#47c868;
}

.white-text .title-line,
.white-text .title-line-center{
	background-color:rgba(255,255,255,0.5);
}

/* post search */
.post-search-entry{
	border-bottom:3px solid #e5e5e5;
}

/* comment section */
.comment-entry{
	background-color:#f2f2f2;
}

.comment-author{
	color:#333333;
}

.bypostauthor  .comment-author{
	color:#47c868;
}

.comment-date,.comment-date a{
	color:#b3b3b3;
}

.comment-date a:hover{
	color:#47c868;
}

.comment-reply a{
	background-color:transparent;
	color:#313848;
	border:3px solid #cccccc;
}

.comment-reply a:hover{
	background-color:#313848;
	color:white;
	border:3px solid #313848;
}

.comment-content{
	border-top:3px solid #cccccc;
	color:#666666;
}

/* comment form */

.comment-notes{
	color:#47c868;
}


/* portfolio page */
#portfolio-section-des{
	color:#333333;
}
	
/* portfolio single */

.portfolio-single-detail{
	color:#666666;
}

.portfolio-single-detail-entry{
	
}

.portfolio-single-detail-entry:last-child{
	border-bottom:0px;
}

.portfolio-single-detail-name{
	color:#313848;
}


.portfolio-single-detail-content,
.portfolio-single-detail-content a{
	color:#666666;
}


.portfolio-single-detail-content a:hover{
	color:#47c868;
}


.portfolio-single-categories a{
	border:3px solid #e5e5e5;
	color:#313848;
}

.portfolio-single-categories a:hover{
	border:3px solid #313848;
	color:white;
	background-color:#313848;
}

.portfolio-single-pagination-left a,.portfolio-single-pagination-right a{
	border:3px solid #e5e5e5;
	color:#313848;
	background-color:transparent;
}

.portfolio-single-pagination-left a{
	border-right:0px;
}

.portfolio-single-pagination-left a:hover,.portfolio-single-pagination-right a:hover{
	border:3px solid #47c868;
	background-color:#47c868;
	color:white;
}

.portfolio-single-pagination-left a:hover{
	border-right:0px;
}

.pagination_full a{
	border-right:3px solid #e5e5e5;
}

.pagination_full a:hover{
	border-right:3px solid #47c868;
}

.pagination_full{
	border-right:0px;
}

.portfolio-single-like-button{
	color:#666666;
}

.portfolio-single-like-button:hover{
	color:#47c868;
}

.portfolio-single-liked-button,.portfolio-single-liked-button:hover{
	color:#47c868;
}

.portfolio-single-social-share a{
	background-color:#e5e5e5;
	color:#313848;
}

.portfolio-single-social-share a:hover{
	background-color:#47c868;
	color:white;
}

/* portfolio relative  */
.portfolio-relative-title{
	color:#333333;
}

/* portfolio cell */
.portfolio-cell{
	background-color:#47c868;
}

.portfolio-cell-bg{
	background-color:#313848;
}

.white-text .portfolio-cell{
	background-color:rgba(0,0,0,0.5);
}

.white-text .portfolio-cell-bg{
	background-color:rgba(0,0,0,0.5);
}

.portfolio-cell-title a{
	color:white;
}

.portfolio-cell-title a:hover{
	color:#47c868;
}

.portfolio-cell-banner{
	background-color:#47c868;
}

.portfolio-cell-banner a,
.portfolio-cell-banner i,
.portfolio-cell-banner .like-number{
	color:white;
}

.portfolio-cell-banner a:hover,
.portfolio-cell-banner a:hover i{
	color:#313848;
}

.portfolio-cell-button-like:hover i,
.portfolio-cell-button-like:hover .like-number,
.portfolio-cell-button-like.liked-button i,
.portfolio-cell-button-like.liked-button .like-number{
	color:#313848;
}

.white-text .portfolio-cell-banner{
	background-color:#f5f5f5;
}

.white-text .portfolio-cell-banner a,
.white-text .portfolio-cell-banner i,
.white-text .portfolio-cell-banner .like-number{
	color:#313848;
}

.white-text .portfolio-cell-banner a:hover,
.white-text .portfolio-cell-banner a:hover i{
	color:#47c868;
}

.white-text .portfolio-cell-button-like:hover i,
.white-text .portfolio-cell-button-like:hover .like-number,
.white-text .portfolio-cell-button-like.liked-button i,
.white-text .portfolio-cell-button-like.liked-button .like-number{
	color:#47c868;
}


/* portfolio board */
.portfolio-board-title{
	background-color:#47c868;
	color:white;
}

.portfolio-board-title a{
	color:white;
}

.portfolio-board-bg{
	background-color:#47c868;
	background: -webkit-linear-gradient(#a8caec, #47c868); /* For Safari */
	background: -o-linear-gradient(#a8caec, #47c868); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#a8caec, #47c868); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#a8caec, #47c868); /* Standard syntax */
}

/* portfolio filter */

.filters span{
	color:#666666;
	background-color:white;
	border:3px solid #e5e5e5;
}

.filters span:hover{
	color:white;
	background-color:#313848;
	border:3px solid #313848;
}

.filters span.active{
	color:white;
	background-color:#47c868;
	border:3px solid #47c868;
}

.white-text .filters span{
	color:rgba(255,255,255,0.5);
	background-color:transparent;
	border:3px solid rgba(255,255,255,0.2);
}

.white-text .filters span:hover{
	color:rgba(255,255,255,1);
	background-color:transparent;
	border:3px solid rgba(255,255,255,0.5);
}

.white-text .filters span.active{
	color:#313848;
	background-color:white;
	border:3px solid white;
}


/* widget */

/* widget basic style */
.sidebar-widget{
	
}

.sidebar-widget-title{
	color:#333333;

}

.sidebar-widget{
	color:#666666;
}

.sidebar-widget a{
	color:#47c868;
}

.sidebar-widget a:hover{
	color:#666666;
}

.sidebar-widget ul li a{
	color:#666666;
}

.sidebar-widget ul li a:hover{
	color:#47c868;
}


/* footer */
#footer{
	background-color:#3d465a;
}


/* footer default inputs */
#footer .content input[type=text],
#footer .content input[type=email],
#footer .content input[type=password]{
	border:3px solid rgba(255,255,255,0.2);
	color:rgba(255,255,255,0.5);
	background-color:transparent;
}

#footer .content textarea{
	border:3px solid rgba(255,255,255,0.2);
	color:rgba(255,255,255,0.5);
	background-color:transparent;
}

#footer .content select{
	border:3px solid rgba(255,255,255,0.2);
	color:rgba(255,255,255,0.2);
	background-color:transparent;
	color:#999999;
}


#footer input[type=submit],
#footer button,
#footer .search-button{
	background-color:rgba(0, 0, 0, 0.1);
	color:rgba(255,255,255,0.5);
	border:3px solid rgba(255,255,255,0.2);
}

#footer input[type=submit]:hover,
#footer button:hover,
#footer .search-button:hover{
	border:3px solid #47c868;
	background-color:#47c868;
	color:white;
}

/* table */

.footer-widget.content  #wp-calendar table{
	color:rgba(255,255,255,1);
	border:1px solid rgba(255,255,255,0.2);
}

.footer-widget.content  #wp-calendar thead td , 
.footer-widget.content #wp-calendar thead th, 
.footer-widget.content #wp-calendar  tfoot td{
	color:rgba(255,255,255,1);
	border:1px solid rgba(255,255,255,0.2);
}

.footer-widget.content #wp-calendar tbody td{
	color:rgba(255,255,255,0.5);
	border:1px solid rgba(255,255,255,0.2);
}


.footer-widget.content{
	color:rgba(255,255,255,0.5);
}

.footer-widget a{
	color:rgba(255,255,255,0.5);
}

.footer-widget a:hover{
	color:rgba(255,255,255,0.5);
}

.footer-widget ul li a{
	color:rgba(255,255,255,0.5);
}

.footer-widget ul li a:hover{
	color:rgba(255,255,255,1);
}

#footer-bottom{
	background-color:#313848;
	color:rgba(255,255,255,0.3);
}

#footer-bottom a{
	color:rgba(255,255,255,0.3);
}

#footer-bottom a:hover{
	color:white;
}


/* footer widget */
.footer-widget-title{
	color:white;
}




.footer-widget.widget_nav_menu ul li,
.footer-widget.widget_recent_entries ul li,
.footer-widget.widget_archive ul li,
.footer-widget.widget_categories ul li,
.footer-widget.widget_pages ul li 
{
	
}


/* common widget */
.widget_archive  i,
.widget_categories i,
.widget_pages i,
.widget_meta i,
.widget_recent_entries  i,
.widget_nav_menu  i{
	color:#666666;
}

.footer-widget.widget_archive  i,
.footer-widget.widget_categories i,
.footer-widget.widget_pages i,
.footer-widget.widget_meta i,
.footer-widget.widget_recent_entries  i,
.footer-widget.widget_nav_menu  i{
	color:rgba(255,255,255,0.5);
}
 
/*recent comment widget*/
.sidebar-widget.widget_recent_comments{
	color:#666666;
}

.sidebar-widget.widget_recent_comments li a{
	color:#47c868;
}

.sidebar-widget.widget_recent_comments  li a:hover{
	color:#666666;
}

#footer .sidebar-widget.widget_recent_comments .sidebar-widget-title{
	color:white;
}

#footer .sidebar-widget.widget_recent_comments{
	color:rgba(255,255,255,0.5);
}

#footer .sidebar-widget.widget_recent_comments li a{
	color:rgba(255,255,255,1);
}

#footer .sidebar-widget.widget_recent_comments li a:hover{
	color:rgba(255,255,255,0.5);
}

.footer-widget.widget_recent_comments{
	color:rgba(255,255,255,0.5);
}

.footer-widget.widget_recent_comments li a{
	color:white;
}

.footer-widget.widget_recent_comments li a:hover{
	color:#999999;
}

/* tagcloud */

.tagcloud a{
	border:3px solid #e5e5e5;
	color:#313848;
}

.tagcloud a:hover{
	border:3px solid #313848;
	color:white;
	background-color:#313848;
}

/* footer tagcloud */
.footer-widget .tagcloud a{
	border:3px solid rgba(255,255,255,0.2);
	color:rgba(255,255,255,0.5);
}

.footer-widget .tagcloud a:hover{
	border:3px solid #47c868;
	color:white;
	background-color:#47c868;
}

/* widget post */
.widget-post{
	border-bottom:3px solid #e5e5e5;
}

.widget-post:last-child{
	border-bottom:0px;
}

.widget-post-title a{
	color:#333333;
}

.widget-post-title a:hover{
	color:#47c868;
}

.widget-post-meta a{
	color:#bfbfbf;
}

.widget-post-meta a:hover{
	color:#47c868;
}

.footer-widget .widget-post{
	border-bottom:3px solid rgba(255,255,255,0.2);
}

.footer-widget .widget-post:last-child{
	border-bottom:0px;
}

.footer-widget .widget-post-title a{
	color:rgba(255,255,255,0.5);
}

.footer-widget .widget-post-title a:hover{
	color:rgba(255,255,255,1);
}

.footer-widget .widget-post-meta a{
	color:rgba(255,255,255,0.3);
}

.footer-widget .widget-post-meta a:hover{
	color:rgba(255,255,255,1);
}

/* flex slider style */
.flex-direction-nav .flex-next,
.flex-direction-nav .flex-prev{
	border-radius:0px !important;
	background-color:transparent;
	border:3px solid #47c868 !important;
	opacity:0.2;
}

.flex-direction-nav i{
	color:#47c868 !important;
}

.flex-direction-nav .flex-next:hover ,
.flex-direction-nav .flex-prev:hover{
	background-color:#47c868!important;
}

.flex-direction-nav .flex-next:hover i,
.flex-direction-nav .flex-prev:hover i{
	color:white !important;
}


/* revolution slider style*/
.tp-caption.small_colorbox,.tp-caption.medium_colorbox,.tp-caption.big_colorbox{
	background-color:#47c868;
}

.tp-caption.small_colortext,.tp-caption.medium_colortext,.tp-caption.big_colortext{
	color:#47c868;
}

/* revolution slider style*/
.tp-leftarrow,.tp-leftarrow.round,.tp-leftarrow.round-old,.tp-leftarrow.navbar,.tp-leftarrow.navbar-old,.tp-leftarrow.square,.tp-leftarrow.square-old,.tp-leftarrow.default{
	background-color:#47c868;
	width:50px;
	height:50px;
	transition: all 300ms ease-out; /*safari and chrome */
	-webkit-transition: all 300ms ease-out; /*safari and chrome */
	position:absolute;
	left:0px;
	top:50%;
	margin-top:-25px;
}
	
.tp-rightarrow,.tp-rightarrow.round,.tp-rightarrow.round-old,.tp-rightarrow.navbar,.tp-rightarrow.navbar-old,.tp-rightarrow.square,.tp-rightarrow.square-old,.tp-rightarrow.default{
	background-color:#47c868;
	width:50px;
	height:50px;
	transition: all 300ms ease-out; /*safari and chrome */
	-webkit-transition: all 300ms ease-out; /*safari and chrome */
	right:0px;
	top:50%;
	margin-top:-25px;
}

.tp-button.darkgrey, 
.tp-button.grey, 
.purchase.darkgrey{
	background-image:none !important;
	background-color:#333333;
	border:3px solid #333333;
	color:white;
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

.tp-button:hover.darkgrey,
.tp-button:hover.grey,
.purchase:hover.darkgrey{
	background-image:none !important;
	background-color:transparent;
	border:3px solid #47c868;
	color:white;
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

.tp-button.lightgrey, 
.purchase.lightgrey{
	background-image:none !important;
	background-color:white;
	border:3px solid white;
	color:#313848 !important;
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

.tp-button.lightgrey:hover, 
.purchase.lightgrey:hover{
	background-image:none !important;
	background-color:transparent;
	border:3px solid white;
	color:white !important;
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

.tp-button.red, 
.purchase.red{
	background-image:none !important;
	background-color:#F64747;
	border:3px solid #F64747;
	color:white;
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

.tp-button.red:hover, 
.purchase.red:hover{
	background-image:none !important;
	background-color:transparent;
	border:3px solid #F64747;
	color:white;
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

.tp-button.blue, 
.purchase.blue{
	background-image:none !important;
	background-color:#19B5FE;
	border:3px solid #19B5FE;
	color:white;
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

.tp-button.blue:hover, 
.purchase.blue:hover{
	background-image:none !important;
	background-color:transparent;
	border:3px solid #19B5FE;
	color:white;
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

.tp-button.green, 
.purchase.green{
	background-image:none !important;
	background-color:#2ECC71;
	border:3px solid #2ECC71;
	color:white;
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

.tp-button.green:hover, 
.purchase.green:hover{
	background-image:none !important;
	background-color:transparent;
	border:3px solid #2ECC71;
	color:white;
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

.tp-button.orange, 
.purchase.orange{
	background-image:none !important;
	background-color:#F27935;
	border:3px solid #F27935;
	color:white;
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

.tp-button.orange:hover, 
.purchase.orange:hover{
	background-image:none !important;
	background-color:transparent;
	border:3px solid #F27935;
	color:white;
	box-shadow:4px 4px 0px rgba(0,0,0,0.2);
}

